root = true  # para informar que esta será a configuração principal

[*] # Informa que a configuração será para todos os arquivos
indent_style = space # informa o tipo de indentação que será utilizado
indent_size = 2 # informa o tamanho da indentação
end_of_line = lf # formatação do final da linha. Normalmente utilizamos o lt pois tem maior compatibilidade com os sistemas operacionais
charset = utf-8 # codificação de caracteres
trim_trailing_whitespace = true # obriga a colocar um espaço após os simbolos (ex: a+b ---> a + b)
insert_final_newline = true # finaliza o arquivo sempre com uma linha em branco ao final
